.Badges__hero {
  width: 100%;
  padding: 2rem 0;
  background: url('../../images/stars.svg'), rgb(56, 180, 211);
  background-repeat: repeat;
  
  text-align: center;
}

.Badges__hero>.Badges__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Badges__container {
  width: 100%;
  max-width: 580px;
  margin: 0 auto;
  padding: 0 1rem;
}

.Badges_conf-logo {
  margin-bottom: 2rem;
}

.Badges__buttons {
  width: 56%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
}

.Badges__buttons:hover{
  -webkit-animation: tiembla 2s infinite;
}

@-webkit-keyframes tiembla{
  0%{-webkit-transform: rotateY(-5deg);}
  20%{-webkit-transform: rotateZ(5deg);}
  50%{-webkit-transform: rotateZ(0deg) scale(.8);}
  100%{-webkit-transform: rotateZ(0deg);}
}

.parrafo{
  width: 60%;
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 10px;
  margin-left: 250px;
}